body {
    font-family :Verdana;
    font-size : 12pt;
}

h1 {
    color :red;
}

.banner {
    font-family:Arial;
    font-size:28pt;
    font-weight:bold;
    background-color:navy;
    color:white;
}

.menu {
    padding-top: 5pt;
    font-family: verdana;
    font-size: 12pt;
    font-weight: bold;
    background-color: silver;
    padding-bottom: 5pt;
}