
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/student_master.cshtml";
}


<h2>Login</h2>
<form method="post">
    Password : <input type="password" name="pwd" />
    <p />
    <input type="submit" value="Login" />
</form>
<p />

@ViewBag.Message
