
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/student_master.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<h2>Students Application</h2>

@if (User.Identity.IsAuthenticated)
{
    <div>User : @User.Identity.Name  @Html.ActionLink("Logout", "Logout", "User") </div>
}
else
{
   <div>@Html.ActionLink("Login", "Login", "User")</div>
}


This applications allows you to list, add, search and modify students.


