
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/student_master.cshtml";
}

<h2>Summary</h2>
This applications allows you to list, add, search and modify students.

<p></p>
No. of student enrolled so far : @ViewBag.Count
<p></p>
Total amount of fee collected so far : @ViewBag.TotalFee



