@model MvcDemo.Models.TableViewModel
    
<table border="1" cellpadding="5pt">
    <tr>
        <th>Number</th>
        <th>Multiplier</th>
        <th>Result</th>
    </tr>

    @for(var i = 1; i <= Model.Length; i ++)
    {
    <tr>
        <td>@Model.Number</td>
        <td>@i</td>
        <td>@(Model.Number * i)</td>
    </tr>
    }
</table>
